{"swagger":"2.0","info":{"version":"v1","title":"Moody's Analytics Muni Loss Forecast API","description":"API access to Moody's Analytics Muni Loss Forecast"},"host":"api.economy.com","basePath":"/muni/v1","schemes":["https"],"paths":{"/loss-forecast/{scenario}":{"post":{"tags":["Forecast"],"summary":"To Lookup forecast based on input list","operationId":"Forecast_LookUpForecast","consumes":["application/json","text/json","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/xml"],"parameters":[{"name":"inputList","in":"body","description":"List of input objects to lookup forecast","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/MuniInfo"}}},{"name":"scenario","in":"path","required":true,"type":"string"},{"name":"lgd","in":"query","required":false,"type":"number","format":"double"},{"name":"vintage","in":"query","required":false,"type":"string"},{"name":"revision","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/health":{"get":{"tags":["HealthCheck"],"operationId":"HealthCheck_HealthCheck","consumes":[],"produces":["application/json","text/json","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}}},"definitions":{"MuniInfo":{"type":"object","properties":{"cusip":{"description":"9 character alphanumeric code that identifies a North American financial security\r\nfor the purposes of facilitating clearing and settlement of trades","type":"string"},"rating":{"description":"Moody's rating","type":"string"},"vintage":{"description":"requested vintage, defaults to current vintage","type":"string"},"pd":{"format":"double","description":"Probability of default","type":"number"},"orgIds":{"description":"Organization Ids","type":"array","items":{"type":"string"}},"state":{"description":"State Abbrev (USPS 2-letter codes ?)","type":"string"},"sector":{"type":"string"},"lgd":{"format":"double","type":"number"},"sectors":{"description":"Only few OrgIds belong in multiple sectors","type":"array","items":{"type":"string"}},"maturityDate":{"format":"date-time","description":"Maturity date","type":"string"},"output":{"description":"Forecast information by sector and state","type":"array","items":{"$ref":"#/definitions/SectorForecast"}},"error":{"type":"string"}}},"SectorForecast":{"type":"object","properties":{"sector":{"type":"string","readOnly":true},"vintage":{"type":"string","readOnly":true},"overlay":{"format":"int32","type":"integer","readOnly":true},"yq":{"type":"array","items":{"type":"string"},"readOnly":true},"pd":{"type":"array","items":{"format":"double","type":"number"},"readOnly":true},"lr":{"type":"array","items":{"format":"double","type":"number"},"readOnly":true},"clr":{"type":"array","items":{"format":"double","type":"number"},"readOnly":true},"c_pd":{"type":"array","items":{"format":"double","type":"number"},"readOnly":true},"c_pd_lag1q":{"type":"array","items":{"format":"double","type":"number"},"readOnly":true},"c_pd_lag2q":{"type":"array","items":{"format":"double","type":"number"},"readOnly":true},"c_pd_lag3q":{"type":"array","items":{"format":"double","type":"number"},"readOnly":true},"c_pd_lag4q":{"type":"array","items":{"format":"double","type":"number"},"readOnly":true},"c_pd_lag5q":{"type":"array","items":{"format":"double","type":"number"},"readOnly":true}}}},"securityDefinitions":{"oauth2":{"type":"oauth2","description":"OAuth2 Client Credentials","flow":"application","tokenUrl":"https://api.economy.com/muni/v1/oauth2/token","scopes":{}}}}