{"swagger":"2.0","info":{"version":"v1","title":"Moody's Analytics AutoCycle API","description":"API access to Moody's Analytics AutoCycle Forecast"},"host":"api.economy.com","basePath":"/autocycle/v1","schemes":["https"],"paths":{"/forecast":{"post":{"tags":["Forecast"],"summary":"The forecast endpoint that takes in an array of model inputs and returns the forecast","operationId":"Forecast_ForecastBatch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json","text/xml"],"parameters":[{"name":"payload","in":"body","description":"See User Guide","required":true,"schema":{"type":"object"}},{"name":"modelVersion","in":"query","description":"The monthly model version using vYYYYMM format","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/health":{"get":{"tags":["HealthCheck"],"operationId":"HealthCheck_HealthCheck","consumes":[],"produces":["application/json","text/json","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/vins":{"get":{"tags":["Vin"],"summary":"The vins endpoint takes in make, model, model year and model version of vehicle and performs a vin look up","operationId":"Vin_VinLookup","consumes":[],"produces":["application/json","text/json","text/xml"],"parameters":[{"name":"vehicleMake","in":"query","description":"Make of the vehicle","required":false,"type":"string"},{"name":"vehicleModel","in":"query","description":"Model of the vehicle\r\n           Vehicle model is a partial match with the model of vehicle \r\n           \tE.g.input(vehicleMake = 'BMW', vehicleModel = 'X3')\r\n           \t\t ouput(vehicleMake= 'BMW', vehicleModel = 'X3 series')","required":false,"type":"string"},{"name":"vehicleModelYear","in":"query","description":"Model Year of the vehicle","required":false,"type":"integer","format":"int32"},{"name":"modelVersion","in":"query","description":"Model Version is the version of the statistical/economic model, which is published every month\r\n              The monthly model version using vYYYYMM format","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}}},"definitions":{},"securityDefinitions":{"oauth2":{"type":"oauth2","description":"OAuth2 Client Credentials","flow":"application","tokenUrl":"https://api.economy.com/autocycle/v1/oauth2/token","scopes":{}}}}