openapi: 3.2.0
info:
  title: Moodys Health API
  version: '1.0'
  description: 'Operations tagged Health across 2 of this provider''s published API definitions: moodys-data-buffet-api-openapi.yml, moodys-scenario-studio-api-swagger.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.economy.com/data/v1
  description: Moody's Analytics Data Buffet production server
- url: https://api.economy.com/scenario-studio/v2
tags:
- name: Health
  description: Service health monitoring
paths:
  /health:
    get:
      operationId: checkHealth
      summary: Moody's Check Service Health
      description: Returns the current health status of the Data Buffet API service.
      tags:
      - Health
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        '503':
          description: Service is unavailable
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.economy.com/data/v1
      description: Moody's Analytics Data Buffet production server
components:
  schemas:
    HealthStatus:
      type: object
      description: Service health status information.
      required:
      - status
      properties:
        status:
          type: string
          description: Overall service health status.
          enum:
          - Healthy
          - Degraded
          - Unavailable
          example: Healthy
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the health check.
          example: '2026-01-15T10:30:00Z'
        version:
          type: string
          description: Current API version.
          example: example_value
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2 client credentials flow for authenticating API requests. Obtain client_id and client_secret from your Moody's Analytics account.
      flows:
        clientCredentials:
          tokenUrl: https://api.economy.com/data/v1/oauth2/token
          scopes: {}
externalDocs:
  description: Moody's Data Buffet API Documentation
  url: https://api.economy.com/data/v1/swagger
x-refined-from:
- moodys-data-buffet-api-openapi.yml
- moodys-scenario-studio-api-swagger.json
