{"swagger":"2.0","info":{"version":"v1","title":"Moody's Analytics Data Buffet API","description":"API access to Moody's Analytics repository of international and subnational economic and demographic time series data.","license":{"name":"More Info","url":"https://github.com/moodysanalytics/databuffet-api-codesamples"}},"host":"api.economy.com","basePath":"/data/v1","schemes":["https"],"paths":{"/baskets":{"get":{"tags":["Baskets"],"summary":"Returns a JSON list of baskets that are available for execution. (optionally paginated)","operationId":"Baskets_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"filetype","in":"query","description":"Optional argument for only returning baskets of a given file type","required":false,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Optional argument for pagination, page number (1 indexed)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Optional argument for pagination, page size","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Basket"}}}},"security":[{"oauth2":[]}]},"post":{"tags":["Baskets"],"summary":"Create a basket.","operationId":"Baskets_Create","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"basketDetails","in":"body","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]},"delete":{"tags":["Baskets"],"summary":"Delete a list of baskets identified by basketid","operationId":"Baskets_Delete","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"basketIds","in":"body","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/baskets/{id}":{"get":{"tags":["Baskets"],"summary":"Returns a single basket by id.","operationId":"Baskets_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"BasketId guid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Basket"}}},"security":[{"oauth2":[]}]},"post":{"tags":["Baskets"],"summary":"Update existing basket settings and series","operationId":"Baskets_Edit","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"basketDetails","in":"body","required":true,"schema":{"type":"object"}},{"name":"id","in":"path","description":"BasketId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/baskets/{id}/contents":{"get":{"tags":["Baskets"],"summary":"Returns the contents of the requested basket by id.","operationId":"Baskets_GetContents","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"BasketId guid","required":true,"type":"string"},{"name":"page","in":"query","description":"Optional pagination page number","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Optional pagination page size","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BasketContents"}}},"security":[{"oauth2":[]}]}},"/baskets/{id}/output-file":{"get":{"tags":["Baskets"],"summary":"Returns the streamed file content that was generated the last time a basket was executed.","operationId":"Baskets_Download","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Basket id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/baskets/{id}/Series":{"post":{"tags":["Baskets"],"summary":"Add a list of series to existing basket","operationId":"Baskets_AddSeries","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"seriesList","in":"body","required":true,"schema":{"type":"object"}},{"name":"id","in":"path","description":"BasketId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/filetypes":{"get":{"tags":["FileTypes"],"summary":"Returns a JSON list of available file types for a given object type.","operationId":"FileTypes_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"type","in":"query","description":"Supported object types: baskets","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FileType"}}}},"security":[{"oauth2":[]}]}},"/frequencies":{"get":{"tags":["Frequency"],"summary":"Returns a JSON list of frequencies","operationId":"Frequency_Index","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FrequencyInfo"}}}},"security":[{"oauth2":[]}]}},"/health":{"get":{"tags":["HealthCheck"],"operationId":"HealthCheck_HealthCheck","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/multi-series":{"get":{"tags":["MultiSeries"],"summary":"Return array of series data formatted in JSON.","description":"Maximum of 25 series per request can be retrived using multi-series endpoint. \r\nIf dates are specified then a date range is required.","operationId":"MultiSeries_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"m","in":"query","description":"Semi colon delimeted list of data series codes (mnemonics)","required":true,"type":"string"},{"name":"freq","in":"query","description":"Converts the data series to another frequency.","required":false,"type":"integer","format":"int32","enum":[0,16,49,50,50,65,65,66,66,67,67,68,68,69,69,70,70,71,71,80,97,98,99,100,101,102,103,104,105,106,107,108,109,110,112,128,128,155,156,170,171,172,172,183,184,185,186,187,188,188,193,194,195,196,197,198,199,200,201,202,203,204,204]},{"name":"trans","in":"query","description":"Performs a mathematical transformation on the data.","required":false,"type":"integer","format":"int32","enum":[0,1,2,3,4,8,-1]},{"name":"conv","in":"query","description":"Conversion technique to use when performing frequency conversion.","required":false,"type":"integer","format":"int32","enum":[0,1,2,3]},{"name":"startDate","in":"query","description":"Start of data series. YYYY-MM-DD format.","required":false,"type":"string"},{"name":"endDate","in":"query","description":"End of data series. YYYY-MM-DD format.","required":false,"type":"string"},{"name":"vintage","in":"query","description":"Vintage of data series. YYYYMM or YYYYQ# or YYYY format.","required":false,"type":"string"},{"name":"vintageVersion","in":"query","description":"Vintage Version data series. Integer 1, 2, 3, etc.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse[IEnumerable[Series]]"}}},"security":[{"oauth2":[]}]}},"/orders":{"get":{"tags":["Orders"],"summary":"Returns a JSON list of the user's orders.","operationId":"Orders_OrderQueue","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Order"}}}},"security":[{"oauth2":[]}]},"post":{"tags":["Orders"],"summary":"Places the order to generate a data file.","operationId":"Orders_Execute","consumes":[],"produces":["application/json"],"parameters":[{"name":"id","in":"query","description":"guid","required":true,"type":"string"},{"name":"type","in":"query","description":"Type of Order requested: baskets","required":true,"type":"string"},{"name":"action","in":"query","description":"Type of Action requested: run","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Order"}}},"security":[{"oauth2":[]}]}},"/orders/{orderId}":{"get":{"tags":["Orders"],"summary":"Returns the status of the given order.","operationId":"Orders_Status","consumes":[],"produces":["application/json"],"parameters":[{"name":"orderId","in":"path","description":"Order guid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Order"}}},"security":[{"oauth2":[]}]},"delete":{"tags":["Orders"],"summary":"Deletes an order that is in the queue. Once an order starts it can no longer be deleted.","operationId":"Orders_DeleteOrder","consumes":[],"produces":["application/json"],"parameters":[{"name":"orderId","in":"path","description":"Order to delete","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Order"}}},"security":[{"oauth2":[]}]}},"/search":{"get":{"tags":["Search"],"summary":"","operationId":"Search_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"q","in":"query","description":"","required":true,"type":"string"},{"name":"start","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"rows","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Leave blank to sort by score","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/series":{"get":{"tags":["Series"],"summary":"Return series data formatted in JSON","description":"For more info, see https://github.com/moodysanalytics/databuffet.api.codesamples/blob/master/dataBuffet-api-userguide.md#retrieve-a-single-series","operationId":"Series_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"m","in":"query","description":"The data series code (mnemonic) that is being requested.","required":true,"type":"string"},{"name":"freq","in":"query","description":"Converts the data series to another frequency.","required":false,"type":"integer","format":"int32","enum":[0,16,49,50,50,65,65,66,66,67,67,68,68,69,69,70,70,71,71,80,97,98,99,100,101,102,103,104,105,106,107,108,109,110,112,128,128,155,156,170,171,172,172,183,184,185,186,187,188,188,193,194,195,196,197,198,199,200,201,202,203,204,204]},{"name":"trans","in":"query","description":"Performs a mathematical transformation on the data.","required":false,"type":"integer","format":"int32","enum":[0,1,2,3,4,8,-1]},{"name":"conv","in":"query","description":"Conversion technique to use when performing frequency conversion.","required":false,"type":"integer","format":"int32","enum":[0,1,2,3]},{"name":"startDate","in":"query","description":"Start of data series. YYYY-MM-DD format.","required":false,"type":"string"},{"name":"endDate","in":"query","description":"End of data series. YYYY-MM-DD format.","required":false,"type":"string"},{"name":"vintage","in":"query","description":"Vintage of data series. YYYYMM or YYYYQ# or YYYY format.","required":false,"type":"string"},{"name":"vintageVersion","in":"query","description":"Vintage Version data series. Integer 1, 2, 3, etc.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DataSeriesResult"}}},"security":[{"oauth2":[]}]}},"/vintages":{"get":{"tags":["Vintage"],"summary":"Returns vintages/versions (and other vintage metadata) available for a series","operationId":"Vintage_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"m","in":"query","description":"The data series code (mnemonic) that is being requested.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SeriesVintage"}}},"security":[{"oauth2":[]}]}}},"definitions":{"Basket":{"description":"A single basket's information","type":"object","properties":{"basketId":{"description":"Basket id guid","type":"string"},"name":{"description":"Basket name","type":"string"},"dateCreated":{"format":"date-time","description":"Date the basket was created","type":"string"},"dateStart":{"format":"date-time","description":"Date basket starts","type":"string"},"dateEnd":{"format":"date-time","description":"Date basket ends","type":"string"},"dateExecuted":{"format":"date-time","description":"Date the basket ran, null if not yet run","type":"string"},"dateUpdated":{"format":"date-time","description":"Date the basket was last updated, null if never updated","type":"string"},"dateFormat":{"format":"int32","description":"Date format of output basket","enum":[0,1,2,3,4,5,6,7,10,11,12,13,13],"type":"integer"},"datePeriod":{"format":"int32","description":"Date period of output basket","type":"integer"},"fileName":{"description":"Down loadable file name","type":"string"},"fileTypeId":{"format":"int32","description":"Output file's type id","type":"integer"},"title":{"description":"Basket title","type":"string"},"options":{"$ref":"#/definitions/BasketOptions","description":"Basket delivery options"},"frequency":{"format":"int32","description":"Basket level frequency, null if not set at the basket level","enum":[0,16,49,50,50,65,65,66,66,67,67,68,68,69,69,70,70,71,71,80,97,98,99,100,101,102,103,104,105,106,107,108,109,110,112,128,128,155,156,170,171,172,172,183,184,185,186,187,188,188,193,194,195,196,197,198,199,200,201,202,203,204,204],"type":"integer"},"transformation":{"format":"int32","description":"Basket level transformation, null if not set at the basket level","enum":[0,1,2,3,4,8,-1],"type":"integer"},"decimal":{"format":"int32","description":"Basket level decimal precision, null if not set at the basket level","type":"integer"}}},"BasketOptions":{"description":"","type":"object","properties":{"dateOption":{"format":"int32","description":"","enum":[0,1,2,3],"type":"integer"},"ignoreMissing":{"description":"","type":"boolean"},"layoutAcross":{"description":"","type":"boolean"},"offset":{"description":"","type":"boolean"},"showXls":{"description":"","type":"boolean"},"showMnemonic":{"description":"","type":"boolean"},"showConcept":{"description":"","type":"boolean"},"showDescription":{"description":"","type":"boolean"},"showSource":{"description":"","type":"boolean"},"showDatabankName":{"description":"","type":"boolean"},"showFrequency":{"description":"","type":"boolean"},"showConversion":{"description":"","type":"boolean"},"showTransformation":{"description":"","type":"boolean"},"showGeoTitle":{"description":"","type":"boolean"},"showGeoFip":{"description":"","type":"boolean"},"showMaGeocode":{"description":"","type":"boolean"},"sortDescription":{"description":"","type":"boolean"},"showDateColumn":{"description":"","type":"boolean"},"showStartDate":{"description":"","type":"boolean"},"showEndDate":{"description":"","type":"boolean"},"showUpdateDate":{"description":"","type":"boolean"},"showDownloadDate":{"description":"","type":"boolean"},"showSeriesDates":{"description":"","type":"boolean"},"showLastHistory":{"description":"","type":"boolean"},"conversionType":{"format":"int32","description":"","enum":[0,1,2,3],"type":"integer"}}},"BasketContents":{"description":"","type":"object","properties":{"id":{"description":"BasketId guid","type":"string"},"line":{"format":"int32","description":"Line","type":"integer"},"concept":{"description":"Concept Code","type":"string"},"geo":{"description":"Geo Code","type":"string"},"description":{"description":"Description","type":"string"},"geoTitle":{"description":"Geo Description","type":"string"},"freq":{"format":"int32","description":"Frequency Code","enum":[0,16,49,50,50,65,65,66,66,67,67,68,68,69,69,70,70,71,71,80,97,98,99,100,101,102,103,104,105,106,107,108,109,110,112,128,128,155,156,170,171,172,172,183,184,185,186,187,188,188,193,194,195,196,197,198,199,200,201,202,203,204,204],"type":"integer"},"trans":{"format":"int32","description":"Transformation","enum":[0,1,2,3,4,8,-1],"type":"integer"},"userDefined":{"description":"User defined transformation","type":"string"},"decimalFormat":{"format":"int32","description":"Number of decimal places to show","type":"integer"}}},"FileType":{"description":"File type information for a given file type id","type":"object","properties":{"fileTypeId":{"format":"int32","description":"File type id","type":"integer"},"extension":{"description":"File type extension","type":"string"},"app":{"description":"Application to use to read the file","type":"string"}}},"FrequencyInfo":{"description":"Frequency Info","type":"object","properties":{"frequencyId":{"format":"int32","description":"Frequency Id","type":"integer"},"frequencyName":{"description":"Frequency Name","type":"string"}}},"ApiResponse[IEnumerable[Series]]":{"type":"object","properties":{"error":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/definitions/Series"}}}},"Series":{"description":"","type":"object","properties":{"appliedFreq":{"format":"int32","description":"","type":"integer"},"appliedTransformation":{"format":"int32","description":"","type":"integer"},"databank":{"description":"","type":"string"},"description":{"description":"","type":"string"},"error":{"description":"","type":"string"},"freqCode":{"description":"","type":"string"},"geoTitle":{"description":"Geography Title","type":"string"},"mnemonic":{"description":"","type":"string"},"observedAttribute":{"description":"","type":"string"},"source":{"description":"","type":"string"},"lastHistory":{"type":"string"},"data":{"description":"","type":"array","items":{"$ref":"#/definitions/SeriesData"}}}},"SeriesData":{"description":"Series Data point","type":"object","properties":{"date":{"description":"DateTime string","type":"string"},"value":{"format":"double","description":"Series Value","type":"number"}}},"Order":{"description":"Order status information","required":["dateOrdered"],"type":"object","properties":{"orderId":{"description":"Order id","type":"string"},"dateOrdered":{"format":"date-time","description":"Date ordered","type":"string"},"dateStarted":{"format":"date-time","description":"Date started, null if not started","type":"string"},"dateFinished":{"format":"date-time","description":"Date finished, null if unfinished","type":"string"},"failedAttempts":{"format":"int32","description":"Number of attempts to read a basket","maximum":3,"minimum":0,"type":"integer"},"processing":{"description":"Is the order currently being processed?","type":"boolean"},"queueStatus":{"format":"int32","description":"Status of the the prder in the Queue.\r\norder is waiting in queue = 0, order is currently running = 1, order is complete = 2","maximum":2,"minimum":0,"type":"integer"},"basketId":{"description":"Basket being run","type":"string"},"orderType":{"format":"int32","description":"The type of order that is running. baskets = 1","type":"integer"},"enteredQueue":{"format":"date-time","description":"Date the order entered the queue","type":"string"},"updatedQueue":{"format":"date-time","description":"Date the order was completed in the queue","type":"string"}}},"DataSeriesResult":{"type":"object","properties":{"data":{"$ref":"#/definitions/DataSeries"},"mnemonic":{"type":"string"},"concept":{"type":"string"},"geoCode":{"type":"string"},"geoTitle":{"type":"string"},"fipCode":{"type":"string"},"description":{"type":"string"},"source":{"type":"string"},"databank":{"type":"string"},"freqCode":{"type":"string"},"observedAttribute":{"type":"string"},"startDate":{"type":"string"},"endDate":{"type":"string"},"lastHistory":{"type":"string"},"dateCreated":{"type":"string"},"dateUpdated":{"type":"string"},"dateExecuted":{"type":"string"},"error":{"type":"string"},"status":{"type":"string"}}},"DataSeries":{"type":"object","properties":{"freq":{"type":"string"},"startDate":{"type":"string"},"freqCode":{"format":"int32","type":"integer"},"start":{"format":"int32","type":"integer"},"periods":{"format":"int32","type":"integer"},"data":{"type":"array","items":{"format":"double","type":"number"}}}},"SeriesVintage":{"type":"object","properties":{"vintage":{"type":"string"},"version":{"format":"int32","type":"integer"},"dbName":{"type":"string"},"datePublishedUtc":{"format":"date-time","type":"string"},"note":{"type":"string"}}}},"securityDefinitions":{"oauth2":{"type":"oauth2","description":"OAuth2 Client Credentials","flow":"application","tokenUrl":"https://api.economy.com/data/v1/oauth2/token","scopes":{}}}}