{"swagger":"2.0","info":{"version":"v2","title":"Scenario Studio Api","description":"API access to Moody's Analytics Scenario Studio."},"host":"api.economy.com","basePath":"/scenario-studio/v2","schemes":["https"],"paths":{"/audit/project/{projectId}":{"get":{"tags":["Audit"],"summary":"Gets the records for a search query.","operationId":"Audit_AuditProjectAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The project ID.","required":true,"type":"string"},{"name":"skip","in":"query","description":"The record count to skip.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"The record count to return.","required":false,"type":"integer","format":"int32"},{"name":"options.fromDate","in":"query","required":false,"type":"string","format":"date-time"},{"name":"options.toDate","in":"query","required":false,"type":"string","format":"date-time"},{"name":"options.search","in":"query","required":false,"type":"string"},{"name":"options.actions","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"options.solveType","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"options.sort","in":"query","required":false,"type":"string"},{"name":"options.scenarios","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"options.variableIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"options.solveLog","in":"query","required":false,"type":"boolean"},{"name":"options.mine","in":"query","required":false,"type":"boolean"},{"name":"options.offset","in":"query","required":false,"type":"integer","format":"int32"},{"name":"options.offsetType","in":"query","required":false,"type":"integer","format":"int32","enum":[0,1,2,3]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/audit/project/{projectId}/count":{"get":{"tags":["Audit"],"summary":"Gets the record count for a search query.","operationId":"Audit_AuditSizeAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Project ID.","required":true,"type":"string"},{"name":"options.fromDate","in":"query","required":false,"type":"string","format":"date-time"},{"name":"options.toDate","in":"query","required":false,"type":"string","format":"date-time"},{"name":"options.search","in":"query","required":false,"type":"string"},{"name":"options.actions","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"options.solveType","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"options.sort","in":"query","required":false,"type":"string"},{"name":"options.scenarios","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"options.variableIds","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"options.solveLog","in":"query","required":false,"type":"boolean"},{"name":"options.mine","in":"query","required":false,"type":"boolean"},{"name":"options.offset","in":"query","required":false,"type":"integer","format":"int32"},{"name":"options.offsetType","in":"query","required":false,"type":"integer","format":"int32","enum":[0,1,2,3]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/base-scenario":{"get":{"tags":["Universe"],"summary":"Get the list of base/moody's scenarios.","operationId":"Universe_ScenariosListAsync","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/base-scenario/{scenarioId}":{"get":{"tags":["Universe"],"summary":"Gets base/moody's scenario detail.","operationId":"Universe_GetScenarioAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"scenarioId","in":"path","description":"The base scenario Id.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/base-scenario/{scenarioId}/details":{"get":{"tags":["Universe"],"summary":"Gets the full details on a base scenario.","operationId":"Universe_ScenarioDetailsAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"scenarioId","in":"path","description":"The Id of the base scenario.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/base-scenario/search":{"post":{"tags":["Universe"],"summary":"Search base scenarios.","operationId":"Universe_SearchBaseScenariosListAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"options","in":"body","description":"The search options.","required":true,"schema":{"$ref":"#/definitions/ScenarioSearchOptions"}},{"name":"skip","in":"query","description":"Number of records to skip.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of records to return.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/base-scenario/search/count":{"post":{"tags":["Universe"],"summary":"Search base scenarios.","operationId":"Universe_SearchBaseScenariosListCountAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"options","in":"body","description":"The search options.","required":true,"schema":{"$ref":"#/definitions/ScenarioSearchOptions"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/group/client":{"get":{"tags":["Universe"],"summary":"Gets the list of permissionable clients (in the context of the person making the request).","operationId":"Universe_ClientsListAsync","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/health":{"get":{"tags":["Health"],"summary":"Gets the health of the service.","operationId":"Health_Get","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project":{"get":{"tags":["Project"],"summary":"Gets the list of projects the user has access to.","operationId":"Project_GetListAsync","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}":{"get":{"tags":["Project"],"summary":"Gets information about a specific project.","operationId":"Project_GetProjectAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]},"delete":{"tags":["Project"],"summary":"Deletes a project.","operationId":"Project_DeleteAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The project Id.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/build":{"post":{"tags":["Project"],"summary":"Starts the build process for a project.","operationId":"Project_BuildAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The project Id.","required":true,"type":"string"},{"name":"project","in":"body","description":"The project settings.","required":true,"schema":{"$ref":"#/definitions/ProjectInfo"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/checkpoint/{scenarioId}":{"get":{"tags":["Project"],"summary":"Gets the list of checkpoints for a scenario.","operationId":"Project_GetCheckpointsAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The project Id in which the scenario belongs to.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The Id of the scenario.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/contributor/{role}":{"put":{"tags":["Project"],"summary":"Adds contributors to a project.","operationId":"Project_UpsertContributorsAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The project Id","required":true,"type":"string"},{"name":"role","in":"path","description":"The contributor role. \r\nInactive = 0,\r\nAdmin = 1,\r\nEditor = 2,\r\nObserver = 3","required":true,"type":"integer","format":"int32","enum":[0,1,2,3]},{"name":"contributors","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Contributor"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/data-series":{"get":{"tags":["DataSeries"],"summary":"Gets multiple series and/or expressions.","operationId":"DataSeries_GetBulkSeriesDataAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"expressions","in":"query","description":"A semicolon delimited list of series and/or expression.\r\nSeries should be formatted as [location].[scenario-alias].[variable id].\r\nExamples:\r\nl.bl.fet_us --&gt; local data for the bl scenario\r\nc.bl.fet_us --&gt; central data for the bl scenario\r\nbl.fet_us --&gt; central data for the bl scenario\r\nl.bl.fet_us;c.bl.fet_us;l.bl.fet_us-c.bl.fet_us --&gt; local bl data, central bl data, expression containing both central and local data","required":true,"type":"string"},{"name":"frequency","in":"query","description":"The frequency of the data (defaults to quarterly).","required":false,"type":"integer","format":"int32","enum":[0,16,49,50,50,65,65,66,66,67,67,68,68,69,69,70,70,71,71,80,97,98,99,100,101,102,103,104,105,106,107,108,109,110,112,128,128,155,156,170,171,172,172,183,184,185,186,187,188,188,193,194,195,196,197,198,199,200,201,202,203,204,204]},{"name":"transformation","in":"query","description":"Optional enumeration for transforming the series data. \r\n0 = None,\r\n1 = Year Over Year %\r\n2 = Simple Difference\r\n3 = Annualized Growth\r\n4 = % Change\r\n8 = Year Over Year Difference","required":false,"type":"integer","format":"int32","enum":[0,1,2,3,4,8,-1]},{"name":"conversionMethod","in":"query","description":"Overrides the conversion method being used during the frequency conversion.","required":false,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6]},{"name":"start","in":"query","description":"The integer start date.","required":false,"type":"integer","format":"int32"},{"name":"end","in":"query","description":"The integer end date.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":true,"security":[{"oauth2":[]}]},"post":{"tags":["DataSeries"],"summary":"Gets multiple series and/or expressions.","operationId":"DataSeries_GetBulkSeriesDataPostAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"expressions","in":"body","description":"An array of series and/or expression.\r\nSeries should be formatted as [location].[scenario-alias].[variable id].\r\nExamples:\r\nl.bl.fet_us --&gt; local data for the bl scenario\r\nc.bl.fet_us --&gt; central data for the bl scenario\r\nbl.fet_us --&gt; central data for the bl scenario\r\n[\"l.bl.fet_us, \"c.bl.fet_us\", \"l.bl.fet_us-c.bl.fet_us\"] --&gt; local bl data, central bl data, expression containing both central and local data","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"frequency","in":"query","description":"The frequency of the data (defaults to quarterly).","required":false,"type":"integer","format":"int32","enum":[0,16,49,50,50,65,65,66,66,67,67,68,68,69,69,70,70,71,71,80,97,98,99,100,101,102,103,104,105,106,107,108,109,110,112,128,128,155,156,170,171,172,172,183,184,185,186,187,188,188,193,194,195,196,197,198,199,200,201,202,203,204,204]},{"name":"transformation","in":"query","description":"Optional enumeration for transforming the series data. \r\n0 = None,\r\n1 = Year Over Year %\r\n2 = Simple Difference\r\n3 = Annualized Growth\r\n4 = % Change\r\n8 = Year Over Year Difference","required":false,"type":"integer","format":"int32","enum":[0,1,2,3,4,8,-1]},{"name":"conversionMethod","in":"query","description":"Overrides the conversion method being used during the frequency conversion.","required":false,"type":"integer","format":"int32","enum":[0,1,2,3,4,5,6]},{"name":"conversionTechnique","in":"query","required":false,"type":"integer","format":"int32","enum":[0,1,2,3]},{"name":"start","in":"query","description":"The integer start date.","required":false,"type":"integer","format":"int32"},{"name":"end","in":"query","description":"The integer end date.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/geos":{"get":{"tags":["Project"],"summary":"Gets the list of geographies for a project.","operationId":"Project_GeoListAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/order/{orderId}":{"get":{"tags":["Order"],"summary":"Gets information on any single order.","operationId":"Order_GetOrderAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"orderId","in":"path","description":"The order id","required":true,"type":"string"},{"name":"parentOnly","in":"query","description":"when false to checks child orders; else only checks the passed in order.","required":false,"type":"boolean"},{"name":"projectId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/order/{orderId}/build":{"get":{"tags":["Order"],"summary":"Checks the project build status.","operationId":"Order_GetProjectBuildOrderAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"orderId","in":"path","description":"The build order Id.","required":true,"type":"string"},{"name":"projectId","in":"path","description":"The project Id.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario":{"get":{"tags":["Project"],"summary":"Gets the scenarios within a project.","operationId":"Project_GetScenariosAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}":{"get":{"tags":["Scenario"],"summary":"Gets information about a specific scenario.","operationId":"Scenario_GetAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The Id of the scenario.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]},"put":{"tags":["Scenario"],"summary":"Update the scenario options.","operationId":"Scenario_EditOptionsAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The project Id of the scenario.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The scenario to update.","required":true,"type":"string"},{"name":"options","in":"body","description":"The scenario options.","required":true,"schema":{"$ref":"#/definitions/ScenarioInfo"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/{variableId}":{"get":{"tags":["Series"],"summary":"Gets information about a specific series.","operationId":"Series_GetSeriesAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The Id of the scenario.","required":true,"type":"string"},{"name":"variableId","in":"path","description":"The Id of the variable.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/checkpoint":{"post":{"tags":["Scenario"],"summary":"Creates new checkpoint","operationId":"Series_CreateCheckpointAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"scenarioId","in":"path","description":"The Scenario Id.","required":true,"type":"string"},{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/CheckpointPayload"}},{"name":"projectId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/checkpoint/{checkpointId}":{"put":{"tags":["Scenario"],"summary":"Restore checkpoint's series to a scenario","operationId":"Scenario_RestoreCheckpoint","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"scenarioId","in":"path","description":"The Scenario Id.","required":true,"type":"string"},{"name":"checkpointId","in":"path","description":"The checkpoint Id.","required":true,"type":"string"},{"name":"projectId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/data-series/{variableId}/data/local":{"put":{"tags":["DataSeries"],"summary":"Saves local series data.","operationId":"DataSeries_SaveLocalSeriesDataAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"scenarioId","in":"path","description":"The scenario Id.","required":true,"type":"string"},{"name":"variableId","in":"path","description":"The variable Id.","required":true,"type":"string"},{"name":"payload","in":"body","description":"The series save payload (can be entire series, or just deltas)","required":true,"schema":{"$ref":"#/definitions/SeriesSave"}},{"name":"projectId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/data-series/add-factor/local":{"put":{"tags":["DataSeries"],"summary":"Clears add factors on series in which you have claimed.","operationId":"DataSeries_ClearLocalAddFactorsAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The project Id.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The scenario Id.","required":true,"type":"string"},{"name":"expressions","in":"body","description":"The list of series.","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/data-series/interpolation":{"post":{"tags":["Interpolation"],"summary":"Runs an interpolation calculation (annual to quarterly)","operationId":"Interpolation_GetInterpolationAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"scenarioId","in":"path","description":"The Id of the scenario.","required":true,"type":"string"},{"name":"payload","in":"body","description":"The interpolation options.","required":true,"schema":{"$ref":"#/definitions/InterpolationPayload"}},{"name":"projectId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/series/{variableId}/equation":{"put":{"tags":["Series"],"summary":"Edits the equation of a series.","operationId":"Series_EditEquation","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The Id of the scenario.","required":true,"type":"string"},{"name":"variableId","in":"path","description":"The Id of the variable.","required":true,"type":"string"},{"name":"equation","in":"body","description":"The new equation.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/series/{variableId}/historical/{lastHistorical}":{"put":{"tags":["Series"],"summary":"Changes the last historical end point for a series.","operationId":"Series_ChangeLastHistorical","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The Id of the scenario.","required":true,"type":"string"},{"name":"variableId","in":"path","description":"The Id of the variable.","required":true,"type":"string"},{"name":"lastHistorical","in":"path","description":"The new last historical point.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/series/{variableId}/sharedown":{"get":{"tags":["Series"],"summary":"Gets sharedown information for a series.","operationId":"Series_GetSharedownInfoAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"scenarioId","in":"path","description":"The Id of the scenario.","required":true,"type":"string"},{"name":"variableId","in":"path","description":"The Id of the series.","required":true,"type":"string"},{"name":"projectId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]},"post":{"tags":["Series"],"summary":"Checks out all variables within a sharedown chain, and starts the sharedown calculation.","operationId":"Series_CheckoutSharedownAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The project Id.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The scenario Id.","required":true,"type":"string"},{"name":"variableId","in":"path","description":"The variable to sharedown.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/series/checkin":{"post":{"tags":["Series"],"summary":"Releases a series/unlocks a series without writing data to central.\r\nIf releasing a custom series that has never been pushed to central,\r\nthe custom series is deleted.","operationId":"Series_CheckIn","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The Id of the scenario.","required":true,"type":"string"},{"name":"variables","in":"body","description":"The list of variables to push.","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/series/checkout":{"post":{"tags":["Series"],"summary":"Claim/check out series.","operationId":"Series_CheckOut","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The Id of the scenario.","required":true,"type":"string"},{"name":"variables","in":"body","description":"The list of variables to claim.","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"exogenize","in":"query","description":"When true, sets series to be exogenous; else series default to the current central state.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/series/commit":{"post":{"tags":["Series"],"summary":"Push to central/commit a series- writes local data to central.","operationId":"Series_Commit","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The Id of the scenario.","required":true,"type":"string"},{"name":"payload","in":"body","description":"The list of series to push, and a note describing the changes.","required":true,"schema":{"$ref":"#/definitions/CommitPayload"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/series/custom":{"put":{"tags":["Series"],"summary":"Edits a custom series.","operationId":"Series_EditCustomSeries","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The Id of the scenario.","required":true,"type":"string"},{"name":"update","in":"body","description":"The series meta to change.","required":true,"schema":{"$ref":"#/definitions/CustomSeries"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]},"post":{"tags":["Series"],"summary":"Creates new custom series.","operationId":"Series_CreateCustomSeries","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The Id of the scenario.","required":true,"type":"string"},{"name":"series","in":"body","description":"The list of series to create.","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CustomSeries"}}},{"name":"skipDependencyCheck","in":"query","description":"","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]},"delete":{"tags":["Series"],"summary":"Deletes custom series.","operationId":"Series_DeleteCustomSeries","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The Id of the scenario.","required":true,"type":"string"},{"name":"variables","in":"body","description":"The list of series to delete.","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/series/endogenizeBulk":{"put":{"tags":["Series"],"summary":"Sets series' state to endogenous.","operationId":"Series_EndogenizeBulk","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The Id of the scenario.","required":true,"type":"string"},{"name":"variables","in":"body","description":"The list of variables to set to endogenous.","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/series/exogenize":{"put":{"tags":["Series"],"summary":"Sets series' state to exogenous.","operationId":"Series_ExogenizeBulk","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The Id of the scenario.","required":true,"type":"string"},{"name":"variables","in":"body","description":"The list of variables to set to exogenous.","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/series/exogenize-through":{"put":{"tags":["Series"],"summary":"Sets series to be partially exogenized.","operationId":"Series_ExogenizeThroughBulk","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The Id of the scenario.","required":true,"type":"string"},{"name":"bulkRequest","in":"body","description":"The list of series along with the exogenize through value.","required":true,"schema":{"$ref":"#/definitions/ExogenizeThroughBulkRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/series/info":{"post":{"tags":["Series"],"summary":"Gets series info for a list of series/expressions.","operationId":"Series_GetSeriesAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The Id of the scenario.","required":true,"type":"string"},{"name":"variableIds","in":"body","description":"The list of variables/expressions.","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/series/reendogenize":{"post":{"tags":["Series"],"summary":"Starts an add factor solve for one or more series.","operationId":"Series_Reendogenize","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"scenarioId","in":"path","description":"The Id of the scenario.","required":true,"type":"string"},{"name":"variables","in":"body","description":"The list of series to perform the add factor solve on.","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"projectId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/solve/central":{"post":{"tags":["Scenario"],"summary":"Performs a central solve on a scenario.","operationId":"Scenario_SolveCentralAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"scenarioId","in":"path","description":"The Id of the scenario to solve.","required":true,"type":"string"},{"name":"projectId","in":"path","description":"The Id of the project which contains the scenario being solved.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/solve/local":{"post":{"tags":["Scenario"],"summary":"Performs a local solve on a scenario.","operationId":"Scenario_SolveLocalAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"scenarioId","in":"path","description":"The Id of the scenario to solve.","required":true,"type":"string"},{"name":"payload","in":"body","description":"The solve options.","required":true,"schema":{"$ref":"#/definitions/SolvePayload"}},{"name":"projectId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/transfer-series/order":{"post":{"tags":["Scenario"],"summary":"Imports data from another scenario.","operationId":"Scenario_CreateTransferOrderAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The project Id to to be written to.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The scenario Id to be written to.","required":true,"type":"string"},{"name":"options","in":"body","description":"The scenario Id to read from, and if the series should be claimed.","required":true,"schema":{"$ref":"#/definitions/ScenarioTransferOptions"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/{scenarioId}/variable/{variableId}":{"get":{"tags":["Series"],"summary":"Gets all meta information for a series.","operationId":"Series_GetSpecVariableAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"scenarioId","in":"path","description":"The Id of the scenario.","required":true,"type":"string"},{"name":"variableId","in":"path","description":"The Id of the series.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/alias/{alias}":{"delete":{"tags":["Project"],"summary":"Removes a scenario from a project.","operationId":"Project_RemoveScenarioAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The project Id.","required":true,"type":"string"},{"name":"alias","in":"path","description":"The scenario alias.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/clone":{"post":{"tags":["Project"],"summary":"Creates a copy of a scenario and adds it to a project.","operationId":"Project_CloneScenarioAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"scenario","in":"body","description":"The scenario to be cloned.","required":true,"schema":{"$ref":"#/definitions/AliasedScenario"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/copy":{"post":{"tags":["Project"],"summary":"Adds an existing scenario to a project","operationId":"Project_CopyScenarioAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The project Id in which the scenario will be added to.","required":true,"type":"string"},{"name":"scenario","in":"body","description":"The scenario to be added.","required":true,"schema":{"$ref":"#/definitions/AliasedScenario"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/scenario/reendogenize":{"post":{"tags":["Scenario"],"summary":"Performs an add-factor solve.","operationId":"Scenario_ReendogenizeAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"series","in":"body","description":"The scenario (key) and series (value) pairs.","required":true,"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}},{"name":"projectId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/search/count":{"post":{"tags":["SeriesSearch"],"summary":"Gets the record count for a search query.","operationId":"SeriesSearch_GetCountAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"filters","in":"body","description":"The search options.","required":true,"schema":{"$ref":"#/definitions/SeriesSearchOptions"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/search/results":{"post":{"tags":["SeriesSearch"],"summary":"Gets the records for a search query.","operationId":"SeriesSearch_GetResultsAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"},{"name":"filters","in":"body","description":"The search options.","required":true,"schema":{"$ref":"#/definitions/SeriesSearchOptions"}},{"name":"skip","in":"query","description":"The record count to skip.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"The record cound to return.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/series":{"get":{"tags":["Project"],"summary":"Gets the list of all series within a project.","operationId":"Project_GetSeriesAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/series/checked-out":{"get":{"tags":["Project"],"summary":"Gets the list of series checked out by the current user.","operationId":"Project_GetCheckedOutSeriesAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"","required":true,"type":"string"},{"name":"access","in":"query","description":"","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/series/exogenized":{"get":{"tags":["Project"],"summary":"Gets the list of the exogenized series in a project.","operationId":"Project_GetExogenizedSeriesAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The Id of the project.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/{projectId}/settings":{"put":{"tags":["Project"],"summary":"Updates the project settings.","operationId":"Project_SaveSettingsAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"projectId","in":"path","description":"The project Id.","required":true,"type":"string"},{"name":"project","in":"body","description":"The project settings.","required":true,"schema":{"$ref":"#/definitions/ProjectInfo"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/create":{"post":{"tags":["Project"],"summary":"Creates a new project.","operationId":"Project_CreateAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"project","in":"body","description":"The project settings.","required":true,"schema":{"$ref":"#/definitions/ProjectInfo"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/scenario/search":{"post":{"tags":["Universe"],"summary":"Search client scenarios.","operationId":"Universe_SearchProjectScenariosListAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"options","in":"body","description":"The search options.","required":true,"schema":{"$ref":"#/definitions/ScenarioSearchOptions"}},{"name":"skip","in":"query","description":"Number of records to skip.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of records to return.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/scenario/search/count":{"post":{"tags":["Universe"],"summary":"Search client scenarios.","operationId":"Universe_SearchProjectScenariosListCountAsync","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"options","in":"body","description":"The search options.","required":true,"schema":{"$ref":"#/definitions/ScenarioSearchOptions"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/search":{"get":{"tags":["Project"],"summary":"Gets the search records when searching for projects.","operationId":"Project_SearchProjectsAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"skip","in":"query","description":"Number of records to skip.","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of records to return.","required":false,"type":"integer","format":"int32"},{"name":"options.terms","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"options.tags","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"options.roles","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32","enum":[0,1,2,3]},"collectionFormat":"multi"},{"name":"options.sortBy","in":"query","required":false,"type":"string"},{"name":"options.matchAllTerms","in":"query","required":false,"type":"boolean"},{"name":"options.starred","in":"query","required":false,"type":"boolean"},{"name":"options.active","in":"query","required":false,"type":"boolean"},{"name":"options.archived","in":"query","required":false,"type":"boolean"},{"name":"options.assistant","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}},"/project/search/count":{"get":{"tags":["Project"],"summary":"Gets the search count when searching for projects.","operationId":"Project_SearchCountAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"options.terms","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"options.tags","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"options.roles","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32","enum":[0,1,2,3]},"collectionFormat":"multi"},{"name":"options.sortBy","in":"query","required":false,"type":"string"},{"name":"options.matchAllTerms","in":"query","required":false,"type":"boolean"},{"name":"options.starred","in":"query","required":false,"type":"boolean"},{"name":"options.active","in":"query","required":false,"type":"boolean"},{"name":"options.archived","in":"query","required":false,"type":"boolean"},{"name":"options.assistant","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":[]}]}}},"definitions":{"AuditResultOptions":{"type":"object","properties":{"fromDate":{"format":"date-time","type":"string"},"toDate":{"format":"date-time","type":"string"},"search":{"type":"string"},"actions":{"type":"array","items":{"format":"int32","type":"integer"}},"solveType":{"type":"array","items":{"format":"int32","type":"integer"}},"sort":{"type":"string"},"scenarios":{"type":"array","items":{"type":"string"}},"variableIds":{"type":"array","items":{"type":"string"}},"solveLog":{"type":"boolean"},"mine":{"type":"boolean"},"offset":{"format":"int32","type":"integer"},"offsetType":{"format":"int32","enum":[0,1,2,3],"type":"integer"}}},"SeriesSave":{"type":"object","properties":{"mnemonic":{"pattern":"^[A-Za-z][\\w$]{0,64}$","type":"string"},"transformation":{"format":"int32","type":"integer"},"customSeries":{"type":"boolean"},"isHistoryEditable":{"type":"boolean"},"historyModified":{"type":"boolean"},"freq":{"format":"int32","type":"integer"},"isModified":{"type":"boolean"},"startDate":{"format":"int32","type":"integer"},"endDate":{"format":"int32","type":"integer"},"lastHistorical":{"format":"int32","type":"integer"},"data":{"type":"array","items":{"format":"double","type":"number"}}}},"InterpolationPayload":{"description":"Options for creating a new interpolation.","type":"object","properties":{"editStart":{"format":"int32","description":"Start date in which to calculate the interpolation.","type":"integer"},"data":{"$ref":"#/definitions/SeriesSave","description":"The source data for the interpolation calculation."},"conversionMethod":{"format":"int32","description":"Conversion method used during interpolation calculation.","enum":[0,1,2,3,4,5,6],"type":"integer"},"forcePositive":{"description":"Force positive values within the interpolation result.","type":"boolean"},"continuity":{"description":"Preserve data continuity at the start of the interpolation range.","type":"boolean"},"interpolationType":{"format":"int32","description":"Interpolation calculation to be used.","enum":[0,1,2],"type":"integer"}}},"ProjectInfo":{"type":"object","properties":{"id":{"pattern":"^[\\w\\-]{20,50}$","type":"string"},"title":{"type":"string"},"utcDateCreatedTicks":{"format":"int64","type":"integer"},"modified":{"type":"string"},"unix":{"format":"int64","type":"integer"},"tags":{"type":"array","items":{"type":"string"}},"geos":{"type":"array","items":{"type":"string"}},"description":{"type":"string"},"isAdmin":{"type":"boolean"},"scenarios":{"type":"array","items":{"$ref":"#/definitions/ProjectScenarioInfo"}},"contributors":{"type":"array","items":{"$ref":"#/definitions/Contributor"}},"orders":{"type":"array","items":{"$ref":"#/definitions/ProjectOrder"}},"dates":{"type":"array","items":{"$ref":"#/definitions/ProjectDate"}},"alias":{"pattern":"^[a-zA-Z][\\w]{1,15}$","type":"string"},"varTypesLockStatus":{"type":"object","additionalProperties":{"type":"boolean"}},"allowEquationEditing":{"type":"boolean"},"commentRequired":{"type":"boolean"},"allowCustomSeries":{"type":"boolean"},"allowHistoryEditing":{"type":"boolean"},"allowLastHistoryChange":{"type":"boolean"}}},"ProjectScenarioInfo":{"type":"object","properties":{"projectId":{"pattern":"^[\\w\\-]{20,50}$","type":"string"},"scenarioId":{"pattern":"^[\\w\\-]{20,50}$","type":"string"},"title":{"type":"string"},"alias":{"pattern":"^[a-zA-Z][\\w]{1,15}$","type":"string"},"permission":{"format":"int32","type":"integer"},"projectOwner":{"pattern":"^[\\w\\-]{20,50}$","type":"string"},"unix":{"format":"int64","type":"integer","readOnly":true},"archiving":{"type":"boolean"},"archived":{"type":"boolean"},"restoring":{"type":"boolean"},"vintage":{"format":"int32","type":"integer"},"modelType":{"type":"string"},"hasEmbeddings":{"type":"boolean"}}},"Contributor":{"type":"object","properties":{"role":{"format":"int32","enum":[0,1,2,3],"type":"integer"},"utcDateCreated":{"format":"date-time","type":"string"},"utcDateUpdated":{"format":"date-time","type":"string"},"starred":{"type":"boolean"},"timeStamp":{"format":"date-time","type":"string"},"sid":{"pattern":"^[\\w\\-]{20,50}$","type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"self":{"type":"boolean"},"gid":{"pattern":"^[\\w\\-]{20,50}$","type":"string"}}},"ProjectOrder":{"type":"object","properties":{"clientId":{"pattern":"^[\\w\\-]{20,50}$","type":"string"},"description":{"type":"string"},"orderType":{"format":"int32","enum":[0,1,2,3,4],"type":"integer"},"orderId":{"type":"string"},"brokerId":{"format":"int32","type":"integer"},"webId":{"type":"string"},"parameter":{"type":"string"},"output":{"type":"string"},"dateOrdered":{"format":"date-time","type":"string"},"dateStarted":{"format":"date-time","type":"string"},"dateFinished":{"format":"date-time","type":"string"},"failure":{"format":"int32","type":"integer"},"priority":{"format":"int32","type":"integer"},"brokerServerPickUp":{"type":"string"},"sqlServerPickUp":{"type":"string"},"sqlServerLocation":{"format":"int32","type":"integer"},"processing":{"format":"int32","type":"integer"},"lastRunStatus":{"format":"int32","type":"integer"},"ubiId":{"type":"string"},"email":{"type":"string"},"maxRetryCount":{"format":"int32","type":"integer"}}},"ProjectDate":{"type":"object","properties":{"date":{"type":"string"},"label":{"type":"string"}}},"AliasedScenario":{"type":"object","properties":{"alias":{"pattern":"^[a-zA-Z][\\w]{1,15}$","type":"string"},"permissions":{"type":"array","items":{"$ref":"#/definitions/ScenarioPermission"}},"truncate":{"type":"boolean"},"id":{"pattern":"^[\\w\\-]{20,50}$","type":"string"},"baseScenarioId":{"pattern":"^[\\w\\-]{20,50}$","type":"string"},"sharedownId":{"pattern":"^[\\w\\-]{20,50}$","type":"string"},"title":{"type":"string"},"titleUpper":{"type":"string"},"modelType":{"type":"string"},"vintage":{"format":"int32","maximum":2147483647,"minimum":0,"type":"integer"},"utcDateModified":{"format":"date-time","type":"string"},"utcDateCreated":{"format":"date-time","type":"string"},"unix":{"format":"int64","type":"integer","readOnly":true},"description":{"type":"string"},"freq":{"format":"int32","type":"integer"},"forecastStart":{"format":"int32","maximum":2147483647,"minimum":0,"type":"integer"},"forecastEnd":{"format":"int32","maximum":2147483647,"minimum":0,"type":"integer"},"historyStart":{"format":"int32","maximum":2147483647,"minimum":0,"type":"integer"},"displayStart":{"format":"int32","maximum":2147483647,"minimum":0,"type":"integer"},"displayEnd":{"format":"int32","maximum":2147483647,"minimum":0,"type":"integer"},"editStart":{"format":"int32","maximum":2147483647,"minimum":0,"type":"integer"},"maxIters":{"format":"int32","maximum":2147483647,"minimum":0,"type":"integer"},"solving":{"type":"boolean"},"convergence":{"format":"double","minimum":0,"type":"number"},"projectOwner":{"pattern":"^[\\w\\-]{20,50}$","type":"string"},"utcDateAccessed":{"format":"date-time","type":"string"},"archiving":{"type":"boolean"},"archived":{"type":"boolean"},"restoring":{"type":"boolean"}}},"ScenarioPermission":{"type":"object","properties":{"sid":{"pattern":"^[\\w\\-]{20,50}$","type":"string"},"permission":{"format":"int32","maximum":1,"minimum":0,"type":"integer"},"utcDateCreated":{"format":"date-time","type":"string"},"utcDateUpdated":{"format":"date-time","type":"string"}}},"ProjectSearchOptions":{"type":"object","properties":{"terms":{"type":"array","items":{"type":"string"}},"tags":{"type":"array","items":{"type":"string"}},"roles":{"type":"array","items":{"format":"int32","enum":[0,1,2,3],"type":"integer"}},"sortBy":{"type":"string"},"matchAllTerms":{"type":"boolean"},"starred":{"type":"boolean"},"active":{"type":"boolean"},"archived":{"type":"boolean"},"assistant":{"type":"boolean"}}},"ScenarioInfo":{"type":"object","properties":{"id":{"pattern":"^[\\w\\-]{20,50}$","type":"string"},"baseScenarioId":{"pattern":"^[\\w\\-]{20,50}$","type":"string"},"sharedownId":{"pattern":"^[\\w\\-]{20,50}$","type":"string"},"title":{"type":"string"},"titleUpper":{"type":"string"},"modelType":{"type":"string"},"vintage":{"format":"int32","maximum":2147483647,"minimum":0,"type":"integer"},"utcDateModified":{"format":"date-time","type":"string"},"utcDateCreated":{"format":"date-time","type":"string"},"unix":{"format":"int64","type":"integer","readOnly":true},"description":{"type":"string"},"freq":{"format":"int32","type":"integer"},"forecastStart":{"format":"int32","maximum":2147483647,"minimum":0,"type":"integer"},"forecastEnd":{"format":"int32","maximum":2147483647,"minimum":0,"type":"integer"},"historyStart":{"format":"int32","maximum":2147483647,"minimum":0,"type":"integer"},"displayStart":{"format":"int32","maximum":2147483647,"minimum":0,"type":"integer"},"displayEnd":{"format":"int32","maximum":2147483647,"minimum":0,"type":"integer"},"editStart":{"format":"int32","maximum":2147483647,"minimum":0,"type":"integer"},"maxIters":{"format":"int32","maximum":2147483647,"minimum":0,"type":"integer"},"solving":{"type":"boolean"},"convergence":{"format":"double","minimum":0,"type":"number"},"projectOwner":{"pattern":"^[\\w\\-]{20,50}$","type":"string"},"utcDateAccessed":{"format":"date-time","type":"string"},"archiving":{"type":"boolean"},"archived":{"type":"boolean"},"restoring":{"type":"boolean"}}},"SolvePayload":{"description":"Options for running a solve","type":"object","properties":{"partial":{"description":"The partial solve regex.","type":"string"}}},"ScenarioTransferOptions":{"type":"object","properties":{"sourceScenarioId":{"type":"string"},"claim":{"type":"boolean"}}},"CustomSeries":{"type":"object","properties":{"source":{"type":"string"},"units":{"type":"string"},"startDate":{"format":"int32","type":"integer"},"endDate":{"format":"int32","type":"integer"},"lastHistorical":{"format":"int32","type":"integer"},"observedAttribute":{"type":"string"},"dependencies":{"type":"array","items":{"type":"string"}},"data":{"type":"array","items":{"format":"double","type":"number"}},"scenarioId":{"type":"string"},"alias":{"type":"string"},"variable":{"type":"string"},"isModified":{"type":"boolean"},"isHistoryEditable":{"type":"boolean"},"historyModified":{"type":"boolean"},"modified":{"type":"string"},"ticks":{"format":"int64","type":"integer"},"status":{"format":"int32","enum":[0,1,2],"type":"integer"},"openById":{"type":"string"},"openByEmail":{"type":"string"},"variableType":{"format":"int32","enum":[0,1,2,3],"type":"integer"},"title":{"type":"string"},"centralState":{"format":"int32","enum":[0,1],"type":"integer"},"localState":{"format":"int32","enum":[0,1],"type":"integer"},"centralExogenizeThrough":{"format":"int32","type":"integer"},"localExogenizeThrough":{"format":"int32","type":"integer"},"addFactorType":{"format":"int32","enum":[0,1,2],"type":"integer"},"equation":{"type":"string"},"customEquation":{"type":"string"},"localEquation":{"type":"string"},"sharedownSeries":{"type":"array","items":{"type":"string"}},"customSeries":{"type":"boolean"},"histDateRange":{"type":"object","additionalProperties":{"format":"int32","type":"integer"}},"localHistDateRange":{"type":"object","additionalProperties":{"format":"int32","type":"integer"}}}},"CommitPayload":{"type":"object","properties":{"note":{"type":"string"},"variables":{"type":"array","items":{"type":"string"}}}},"ExogenizeThroughBulkRequest":{"type":"object","properties":{"variables":{"type":"array","items":{"type":"string"}},"exogenizeThrough":{"format":"int32","type":"integer"}}},"CheckpointPayload":{"type":"object","properties":{"note":{"type":"string"}}},"SeriesSearchOptions":{"type":"object","properties":{"query":{"type":"string"},"scenarioId":{"type":"array","items":{"type":"string"}},"checkedOut":{"format":"int32","type":"integer"},"state":{"format":"int32","type":"integer"},"localState":{"format":"int32","type":"integer"},"variableType":{"type":"array","items":{"format":"int32","type":"integer"}},"geographies":{"type":"array","items":{"type":"string"}},"variableIds":{"type":"array","items":{"type":"string"}},"sortBy":{"type":"object","additionalProperties":{"format":"int32","type":"integer"}},"equationEdits":{"type":"boolean"},"historyEdits":{"type":"boolean"},"sharedown":{"type":"boolean"},"customSeries":{"type":"boolean"},"utcDateCreated":{"format":"date-time","type":"string"}}},"ScenarioSearchOptions":{"type":"object","properties":{"terms":{"type":"array","items":{"type":"string"}},"sortBy":{"type":"string"},"modelTypes":{"type":"array","items":{"type":"string"}},"vintages":{"maximum":2147483647,"minimum":0,"type":"array","items":{"format":"int32","type":"integer"}}}}},"securityDefinitions":{"oauth2":{"type":"oauth2","description":"OAuth2 Client Credentials","flow":"application","tokenUrl":"https://api.economy.com/scenario-studio/v2/oauth2/token","scopes":{}}}}